@model Blog
@{
    ViewData["Title"] = "Update";
}

<div class="container">
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h3 class="title">Update Blog</h3>
                        <h3>Old Image Blog</h3>
                        <img src="~/Assets/img/blog/@Model.Image" alt="Blog" />
                    </div>
                    <div class="card-body w-100">

                        <div class="row ">
                            <div asp-validation-summary="ModelOnly" class="text-white"></div>
                            <div class="col-md-12 px-md-1">
                                <div class="form-group">
                                    <label asp-for="Blogname" class="ml-3"></label>
                                    <input asp-for="Blogname" class="form-control" placeholder="Title">
                                    <span asp-validation-for="Blogname"></span>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12 pr-md-1">
                                <div class="form-group">
                                    <label asp-for="Description"></label>
                                    <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                                    <span asp-validation-for="Description"></span>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12 pr-md-1">
                                <div class="form-group">
                                    <label asp-for="BlogWriteTime"></label>
                                    <input asp-for="BlogWriteTime" class="form-control" />
                                    <span asp-validation-for="BlogWriteTime"></span>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12 pr-md-1">
                                <div class="form-group">
                                    <label asp-for="CommentCount"></label>
                                    <input asp-for="CommentCount" class="form-control" />
                                    <span asp-validation-for="CommentCount"></span>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12 pr-md-1">
                                <div class="form-group">
                                    <label asp-for="Author"></label>
                                    <input asp-for="Author" class="form-control" />
                                    <span asp-validation-for="Author"></span>
                                </div>
                            </div>
                                <div class="form-group">
                                    <label asp-for="PhotoBlog"></label>
                                    <input class="form-control" asp-for="PhotoBlog" accept="image/*">
                                    <span class="text-danger" asp-validation-for="PhotoBlog"></span>
                                </div>
                        </div>
                    </div>

                    <div class="card-footer">
                        <button type="submit" class="btn btn-fill btn-primary">Update</button>
                        <a class="btn btn-primary mx-3 float-right" asp-controller="Blog" asp-action="Index" asp-area="Admin"> Back </a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

