@model Slider
@{
    ViewData["Title"] = "Update";
}

@section style{
    <style>
        .ck-rounded-corners .ck.ck-editor__main > .ck-editor__editable, .ck.ck-editor__main > .ck-editor__editable.ck-rounded-corners {
            background-color: rgb(39, 41, 61);
        }
    </style>

}
<div class="container">
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h3 class="title">Upload Slider</h3>
                        <img src="~/Assets/img/slider/@Model.Image" style="width:200px;height:200px;margin:0 auto;"/>
                    </div>
                    <div class="card-body w-100">

                        <div class="row ">
                            <div asp-validation-summary="ModelOnly" class="text-white"></div>
                            <div class="col-md-12 px-md-1">
                                <div class="form-group">
                                    <label asp-for="Title" class="ml-3"></label>
                                    <input asp-for="Title" class="form-control" placeholder="Title">
                                    <span asp-validation-for="Title"></span>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12 pr-md-1">
                                <div class="form-group">
                                    <label asp-for="Description"></label>
                                    <textarea asp-for="Description" class="form-control bg-white" rows="4" &nbsp></textarea>
                                    <span asp-validation-for="Description"></span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-fill btn-primary">Upload</button>
                        <a class="btn btn-primary mx-3 float-right" asp-controller="Slider" asp-action="Index" asp-area="Admin"> Back </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-user">
                    <div class="card-body">
                        <p class="card-text">
                            <div class="author">
                                <div class="form-group d-flex flex-column">
                                    <label asp-for="PhotoSlide" class="h2 text-white mb-5" style="font-size:18px;"></label>
                                    <input asp-for="PhotoSlide" accept="image/*" class="form-control">
                                    <span asp-validation-for="PhotoSlide" class="text-danger"></span>
                                </div>

                            </div>


                        </p>

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

